@import "./../../../../../../../styles.scss";

.welcome{
    margin: 1.8rem 1.6rem 1.2rem;
}
.welcome h1{
    font-size: 2.4rem;
    font-weight: 700;
}
.welcome p{
    font-size: $font-text;
    font-weight: 400;
}

.container{
    background-color: $main-color;
    border-radius: 2rem 2rem 0 0;
}