@import "../../../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.commentary {
  width: 96%;
  padding: 1.2rem 0.6rem 0.8rem 2rem;
  border-radius: $border-radius;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.head {
  display: flex;
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.user img {
  width: 3rem;
  height: 3rem;
  border-radius: $border-radius;
  object-fit: cover;
}
.user span {
  margin-left: 0.4rem;
  font-size: $font-text;
}
.date {
  font-size: 1.2rem;
  color: $secundary-text-color;
}
.content {
  font-size: $font-text;
  margin-bottom: 0.8rem;
}
.content p{
    margin-bottom: 0.8rem;
}
.content img {
  width: 100%;
  height: auto;
  min-height: 12rem;
  max-height: 20rem;
  border-radius: $border-radius;
  object-fit: cover;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions > p {
  font-size: 1.2rem;
  color: $secundary-text-color;
}
.likes {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: $secundary-text-color;
  &.active {
    color: $main-color;
  }
}
