<div tabindex="0" aria-label="comentario" class="container" *ngFor="let commentary of comments; index as i">
  <div class="commentary">
    <div class="head">
      <div class="user">
        <a tabindex="0" routerLink="/profile/{{ commentary.userId }}">
          <img src="{{ commentary.photoUser }}" alt="{{ commentary.user }}" />
        </a>
        <span>{{ commentary.user }}</span>
      </div>
      <div tabindex="0" aria-label="fecha del comentario" class="date">
        <span tabindex="0">{{ commentary.date }}</span>
      </div>
    </div>
    <div class="content">
      <p tabindex="0">{{ commentary.comment }}</p>
      <img
        tabindex="0"
        [src]="commentary.photoRecipe"
        alt="Foto de la receta hecha por el usuario"
        *ngIf="commentary.photoRecipe"
      />
    </div>
    <div class="actions">
      <p
        tabindex="0"
        aria-label="reportar este comentario"
        (click)="selectCommentary(commentary.id)"
        *ngIf="commentary.userId !== userId"
      >
        Reportar
      </p>
      <app-report
        *ngIf="selectedCommentary === commentary.id"
        [showReport]="showReport"
        [reportType]="'commentary'"
        [reportId]="commentary.id"
      >
      </app-report>
      <p
        (click)="deleteCommentary(commentary.id)"
        *ngIf="commentary.userId === userId"
      >
        Eliminar
      </p>
      <div
        tabindex="0"
        aria-label="agregar un me gusta a este comentario"
        class="likes"
        [class.active]="commentary.likes.includes(userId)"
        (click)="likeComment(i)"
      >
        <span>{{ commentary.likes.length }}</span>
        <mat-icon *ngIf="!commentary.likes.includes(userId)">
          favorite_border
        </mat-icon>
        <mat-icon *ngIf="commentary.likes.includes(userId)">
          favorite
        </mat-icon>
      </div>
    </div>
  </div>
</div>
