<div class="container" *ngFor="let commentary of comments; index as i">
  <div class="commentary">
    <div class="head">
      <div class="user">
        <a routerLink="/profile/{{commentary.userId}}">
          <img src="{{ commentary.profilePhoto }}" alt="{{ commentary.userName }}" />
        </a>
        <span>{{ commentary.userName }}</span>
      </div>
      <div class="date">
        <span>{{ commentary.createdAt | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>
    <div class="content">
      <p>{{ commentary.commentText }}</p>
      <img
        [src]="commentary.commentPhoto"
        alt="Foto de la receta hecha por un usuario"
      />
    </div>
    <!-- <div class="actions">
      <p (click)="selectCommentary(commentary.commentId)" *ngIf="userId !== userId">
        Reportar
      </p>
      <app-report
        *ngIf="selectedCommentary === commentary.commentId"
        [showReport]="showReport"
        [reportType]="'commentary'"
        [reportId]="commentary.commentId"
      >
      </app-report>
      <p (click)="deleteCommentary(commentary.commentId)" *ngIf="userId === userId">Eliminar</p>
      <div
        class="likes"
        [class.active]="commentary.likes.includes(userId)"
        (click)="likeComment(i)"
      >
        <span>{{ commentary.likes.length }}</span>
        <mat-icon *ngIf="!commentary.likes.includes(userId)">
          favorite_border
        </mat-icon>
        <mat-icon *ngIf="commentary.likes.includes(userId)">
          favorite
        </mat-icon>
      </div>
    </div> -->
  </div>
</div>

