@import "../../../../../styles.scss";

.title {
  font-size: 2.4rem;
  margin-left: 1.5rem;
  text-transform: capitalize;
}
.slider {
  display: flex;
  padding-bottom: 1.2rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  max-width: 80rem;
  margin: 0 auto;
}
.slider::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.slider::-webkit-scrollbar-track {
  background:#e14d617b;
}

.slider::-webkit-scrollbar-thumb {
  background-color: #e14d61;
  border-radius: 20px;
  border: 3px solid #e14d61;
}
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
  filter: brightness(0.3);
  height: 100%;
  width: 100%;
}
.more-recipes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  font-size: $font-text;
  text-decoration: none;
  color: white;
  border-radius: $border-radius;
  width: 15rem;
  min-width: 15rem;
  margin: 1rem;
}

.more-recipes p,
.more-recipes .mat-icon {
  z-index: 1;
}

.more-recipes p {
  padding-bottom: 0.4rem;
}

@media (min-width: 375px) {
  .more-recipes {
    width: 16rem;
    min-width: 16rem;
  }
}

@media (min-width: 700px) {
  .more-recipes {
    min-width: 19rem;
  }
}
@media (min-width: 800px) {
  .title {
    width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .slider{
    margin-bottom: 4rem;
  }
}
