

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerUserDescription {
    width: 100%;
}

.containerTabRecipes {
    width: 100%;
}
