.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerUserDescription {
    width: 85%;
}

.containerStatistics{
    width: 100%;
}

.containerTabRecipes {
    width: 100%;
}