body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerUserDescription {
    width: 100%;
}

.containerTabRecipes {
    width: 100%;
}
