@import "../../../../../styles.scss";

.container {
  margin: 1.2rem 0;
  font-size: $font-text;
}
.title {
  font-size: $font-title;
}
.score-container {
  margin: 1.2rem 0;
  /* height: 1.2rem; */
}
.actions {
  display: flex;
  div {
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
    color: $secundary-text-color;
  }
}
.line {
  border: 0;
  border-top: 0.1rem solid rgba(196, 196, 196, 0.3);
}

.favorite {
  color: $secundary-text-color;
  &.active {
    color: $main-color;
  }
}
