<div class="container">
  <h1 class="title">{{ name }}</h1>
  <div class="score-container">
    <!-- put score component here -->
    <div class="qualification">
      <app-score class="stars" [score]="score"></app-score>
    </div>

    <button
      (click)="openModal(show)"
      class="rate"
    >
      Calificar
    </button>
    <app-modal [show]="show">
      <h3>Califica la receta</h3>
      <app-stars
        class="score"
        (showModal)="show = $event"
        [recipeId]="id"
      ></app-stars>
    </app-modal>
  </div>
  <div class="actions">
    <div class="action">
      <!-- <span (click)="likeRecipe()">
        <mat-icon *ngIf="!this.user.recipes.likedRecipes.includes(id)">
          favorite_border
        </mat-icon>
        <mat-icon
          class="favorite"
          *ngIf="this.user.recipes.likedRecipes.includes(id)"
        >
          favorite
        </mat-icon>
      </span> -->
      Guardar
    </div>
    <div class="action" (click)="shareRecipe()">
      <mat-icon>shared</mat-icon>Compartir
    </div>

    <div class="action" (click)="copyText()">
      <span><mat-icon>link</mat-icon></span>
      Copiar
    </div>
  </div>
</div>
<hr class="line" />
