@import "../../../../../styles.scss";

.container {
  position: relative;
  margin: 1.2rem 0;
  font-size: $font-text;
}

.title {
  font-size: $font-title;
}

.score-container {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;

  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .score {
    display: flex;
    align-items: center;
  }

  .rate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    color: $button-text-color;
    background-color: $button-background-color;
    border: none;
    padding: 0.5rem 0.5rem;
    margin: 0 2rem;
    cursor: pointer;
  }
}

.actions {
  display: flex;

  div {
    margin-right: 1.4rem;
    color: $secundary-text-color;
  }
}

.line {
  border: 0;
  border-top: 0.1rem solid rgba(196, 196, 196, 0.3);
}

.favorite {
  display: flex;
  justify-content: center;
  flex-direction: row;

  span {
    width: auto;
    font-size: 20px;
    color: $main-color;
    margin-right: 0.5rem;
  }
}
