<div class="cardRecipe">
  <div [routerLink]="['/profile']" class="containerImg">
    <img src={{img}} alt="">
  </div>
  <div class="infoRecipe">
    <div class="infoOne">
      <p>{{title}}</p>
      <div><span>★</span>{{score}}</div>
    </div>
    <div class="infoTwo">
      <span>{{time}}</span>
      <div>{{price}}</div>
      <span (click)='clickFavorite()' class="favorite">
        <mat-icon *ngIf='favorite'>favorite_border</mat-icon>
        <mat-icon *ngIf='!favorite'>favorite</mat-icon>
      </span>
    </div>
  </div>
</div>
