<div class="cardRecipe" [ngStyle]="{width: cardWidth, margin: cardMargin}">
  <div [routerLink]="['/recipe/' + recipe.recipeId]" class="containerImg">
    <img src="{{ recipe.recipePhoto }}" alt="" />
  </div>
  <div class="infoRecipe">
    <div class="infoOne">
      <p>{{ recipe.recipeName }}</p>
      <div><span>★</span>{{ recipe.score }}</div>
    </div>
    <div class="infoTwo">
      <div><span><mat-icon class="iconTime">query_builder</mat-icon>{{recipe.recipeTime}}</span></div>
      <span>{{recipe.priceSufix}}</span>
      <span (click)='!existInFavorites(recipe.recipeId) ? saveRecipe(recipe.recipeId) : deleteRecipe(recipe.recipeId)' class="favorite">
        <mat-icon class="border" *ngIf="!existInFavorites(recipe.recipeId)">
          favorite_border
        </mat-icon>
        <mat-icon *ngIf="existInFavorites(recipe.recipeId)">
          favorite
        </mat-icon>
      </span>
    </div>
  </div>
</div>
