@import "../../../../../styles.scss";

.section {
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.commentary-container {
  margin-bottom: 2rem;
}
