@import '../../../../../styles.scss';

.title{
    font-size: 1.6rem;
    margin-bottom: .8rem;
}
.commentary-container{
    margin-bottom: 2rem;
}
/* .comments-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem 0;
} */