<div tabindex="0" aria-label="Pie de pagina" class="copyrightContainer">
    <div class="textContainer">
        <div class="logo">
            <p>Sabores Ancestrales</p>
        </div>
        <div tabindex="0" role="contactos" class="socialMedias">
            <p tabindex="0" role="text" aria-label="Siguenos">Siguenos</p>
            <a tabindex="0" role="link" aria-label="Instagram"  href="https://www.instagram.com/somoseducamas/" aria-label="Instagram"><img class="icon-socialMedias" src="../../../assets/instagram-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
            <a tabindex="0" role="link" aria-label="Facebook"  href="https://www.facebook.com/somoseducamas/" aria-label="Facebook"><img class="icon-socialMedias" src="../../../assets/facebook-svgrepo-com.svg" alt="" srcset=""></a>
            <a tabindex="0" role="link" aria-label="Spotify"  href="https://open.spotify.com/show/4mYZpSGP4SJMEDvFilTNRp?si=5bNY3MFmTpS1Fq5GtiUpag.&nd=1" aria-label="Spotify"><img class="icon-socialMedias" src="../../../assets/twitter-social-media-social-network-logo-svgrepo-com.svg" alt="" srcset=""></a>
        </div>
        <div class="AllRightsReserved">
            <p>Copyright ©2022, todos los derechos reservados</p>
        </div>
    </div>
</div>  