<div class="copyrightContainer">
    <div class="textContainer">
        <div class="AllRightsReserved">
            <p>Copyright ©2022, todos los derechos reservados</p>
            <a href=""><img class="icon-socialMedias" src="../../../assets/github-svgrepo-com.svg"></a>
        </div>
        <div class="socialMedias">
            <p>Siguenos</p>
            <a href=""><img class="icon-socialMedias" src="../../../assets/instagram-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
            <a href=""><img class="icon-socialMedias" src="../../../assets/facebook-svgrepo-com.svg" alt="" srcset=""></a>
            <a href=""><img class="icon-socialMedias" src="../../../assets/twitter-social-media-social-network-logo-svgrepo-com.svg" alt="" srcset=""></a>
        </div>
    </div>
</div>
