<div class="copyrightContainer">
    <div class="textContainer">
        <div class="logo">
            <p>Sabores Ancestrales</p>
        </div>
        <div class="socialMedias">
            <p>Siguenos</p>
            <a href="https://open.spotify.com/show/4mYZpSGP4SJMEDvFilTNRp?si=5bNY3MFmTpS1Fq5GtiUpag.&nd=1"><img class="icon-socialMedias" src="../../../assets/instagram-logo-fill-svgrepo-com.svg" alt="" srcset=""></a>
            <a href="https://www.facebook.com/somoseducamas/"><img class="icon-socialMedias" src="../../../assets/facebook-svgrepo-com.svg" alt="" srcset=""></a>
            <a href="https://www.instagram.com/somoseducamas/"><img class="icon-socialMedias" src="../../../assets/twitter-social-media-social-network-logo-svgrepo-com.svg" alt="" srcset=""></a>
        </div>
        <div class="AllRightsReserved">
            <p>Copyright ©2022, todos los derechos reservados</p>
        </div>
    </div>
</div>
