<p>Estas a punto de crear una receta ancestral, agrega los datos basicos para iniciar.</p>

<form [formGroup]="formBasics" (submit)="submit()">
    <label for="name">Agrega un nombre a tú receta</label>
    <input type="text" id="name" formControlName="name">
    
    <label for="image"></label>
    <input type="file" accept="image/*" (change)="readURL($event)">

    <label for="description">Agrega una descripcion</label>
    <textarea id="description" formControlName="description"></textarea>

    
    <label for="categories">Agrega categorias a la receta</label>
    <input type="text" id="categories" formControlName="categories">
    <div *ngFor="let category of categories">
        <p (click)="deleteTag(category)">Categoria: {{category}}</p>
    </div>
    <input type="button" value="+" (click)="addCategory()">
    
    <button type="submit" [disabled]="formBasics.invalid">Siguiente Paso</button>
    
    <img id="blah" [src]="imageSrc" alt="your image" *ngIf="imageSrc"/>
</form>
    