<p tabindex="0" class="descriptionStep">
  Estas a punto de crear una receta ancestral, añade los datos basicos para
  iniciar:
</p>

<form [formGroup]="formBasics" (submit)="submit()" class="form">
  <label for="name" class="form-label">Agregar un nombre a tú receta</label>
  <input aria-label="escribe aquí el nombre de tu receta" type="text" id="name" formControlName="name" class="inputName" />

  <label for="image" class="form-label">Agregar una imagen</label>
  <label
    tabindex="0"
    for="image"
    class="label-image"
    [ngStyle]="{ 'background-image': imageSrc && 'url(' + imageSrc + ')' }"
  >
    <mat-icon tabindex="0" class="camera-icon" *ngIf="!imageSrc">camera_alt</mat-icon>
    <p class="image-description" *ngIf="!imageSrc">
      Selecciona una imagen de tu dispositivo para subir
    </p>
    <p class="image-support" *ngIf="!imageSrc">
      Soportado: PNG, JPG, WPG, WEBP
    </p>
  </label>
  <input
    type="file"
    accept="image/*"
    (change)="readURL($event)"
    class="inputImage"
    id="image"
  />

  <label for="description" class="form-label">Agregar una descripcion</label>
  <textarea
    tabindex="0"
    aria-label="escribe aquí la descripción de tu receta"
    id="description"
    formControlName="description"
    class="inputDescription"
  ></textarea>

  <label for="categories" class="form-label"
    >Agregar categorias a la receta</label
  >
  <div class="tagInputContainer">
    <input
      tabindex="0"
      aria-label="escribe aquí las categorías de tu receta.Por ejemplo"
      type="text"
      id="categories"
      formControlName="categories"
      placeholder="Desayuno, postre, saludable..."
      (keydown.enter)="$event.preventDefault()"
    />
    <input
      tabindex="0"
      role="button"
      aria-label="agregar categoría"
      type="button"
      value="+"
      (click)="addCategory()"
      [disabled]="!formBasics.value.categories"
    />
  </div>

  <div class="tagsContainer">
    <p (click)="deleteTag(category)" *ngFor="let category of categories">
      {{ category }}
    </p>
  </div>

  <button
    role="button"
    aria-label="siguiente paso"
    type="submit"
    [disabled]="formBasics.invalid || !imageSrc ||!categories.length"
    class="nextStep"
  >
    Siguiente Paso
  </button>
</form>
