<p>Estas a punto de crear una receta ancestral, agrega los datos basicos para iniciar.</p>

<form [formGroup]="formBasics" (submit)="submit()">
    <label for="name">Agrega un nombre a tú receta</label>
    <input type="text" id="name" formControlName="name">
    
    <label for="image"></label>
    <input type="file" accept="image/*" formControlName="image">

    <label for="description">Agrega una descripcion</label>
    <textarea id="description" formControlName="description"></textarea>
    
    <label for="categories">Agrega categorias a la receta</label>
    <input type="text" id="categories" formControlName="categories">
    <button (click)="submit()">+</button>
    
    <button type="submit" [disabled]="formBasics.invalid">Siguiente Paso</button>
</form>


<button (click)="viewRecipe()">Ver Receta</button>
    