<div class="wrapper">
  <section tabindex="0" aria-label="Lista de usuarios registrados" role="list" class="container">
    <div tabindex="0" aria-label="Usuario" *ngFor="let user of users">
      <div class="item">
        <a tabindex="0" aria-label="Foto del usuario" role="link" class="image-container" [routerLink]="'/profile/' + user.user.userId">
          <img *ngIf="user.profilePhoto" [src]="user.profilePhoto" alt="Foto de un usuario" />
          <span *ngIf="!user.profilePhoto">{{ user.profileName[0] }}</span>
        </a>
        <a
          tabindex="0"
          class="user-name"
          [routerLink]="'/profile/' + user.user.userId"
          [ngClass]="{ inactive: !user.user.userIsActive}"
          >{{ user.profileName }}</a
        >
        <div class="dropdown">
          <mat-icon>more_vert</mat-icon>

          <div class="dropdown-content">
            <a [routerLink]="'/profile/' + user.user.userId">Ver perfil</a>
            <a
              routerLink="/admin/report"
              [queryParams]="{ name: user.profileName, id: user.user.userId, type: 'user' }"
              >Reportes</a
            >
            <p
              tabindex="0" role="button"
              class="option"
              (click)="toggleSuspend(user.user.userId)"
              [ngClass]="{ activateUser: !user.user.userIsActive}"
            >
              {{ user.user.userIsActive ? "Suspender" : "Habilitar" }}
            </p>
            <p tabindex="0" role="button" class="option" (click)="deleteUser(user.user.userId)">Eliminar</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
