<div class="wrapper">
  <section class="container">
    <div *ngFor="let user of users">
      <div class="item">
        <a class="image-container" [routerLink]="'/profile/' + user.id">
          <img *ngIf="user.photo" [src]="user.photo" alt="Foto de un usuario" />
          <span *ngIf="!user.photo">{{ user.name[0] }}</span>
        </a>
        <a
          class="user-name"
          [routerLink]="'/profile/' + user.id"
          [ngClass]="{ inactive: !user.isActive }"
          >{{ user.name }}</a
        >
        <div class="dropdown">
          <mat-icon>more_vert</mat-icon>

          <div class="dropdown-content">
            <a [routerLink]="'/profile/' + user.id">Ver perfil</a>
            <a
              routerLink="/admin/report"
              [queryParams]="{ name: user.name, id: user.id, type: 'user' }"
              >Reportes</a
            >
            <p
              class="option"
              (click)="toggleSuspend(user.id)"
              [ngClass]="{ activateUser: !user.isActive }"
            >
              {{ user.isActive ? "Suspender" : "Habilitar" }}
            </p>
            <p class="option" (click)="deleteUser(user.id)">Eliminar</p>
          </div>
        </div>
      </div>
    </div>
    <p class="load-more" (click)="loadMore()">Cargar más</p>
  </section>
</div>
