@import "../../../../styles.scss";

.backButtonContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  .backButton {
    height: auto !important;
    font-size: 4rem;
    margin-left: 0.4rem;
  }
}
