<p class="descriptionStep">
  Indica el tiempo, dificultad y precio de la receta:
</p>
<form action="" [formGroup]="formExtra" (submit)="submit()" class="form">
  <h2 class="subtitle">Tiempo</h2>
  <div class="timeContainer">
    <p class="duration">Insertar duración</p>
    <div class="clockContainer">
      <div>
        <input type="number" id="hours" formControlName="hours" />
        <label for="hours">Horas</label>
      </div>
      <p class="dotsTime">:</p>
      <div>
        <input type="number" id="minutes" formControlName="minutes" max="59" />
        <label for="minutes">Minutos</label>
      </div>
    </div>
  </div>

  <h2 class="subtitle">Dificultad</h2>
  <div class="tagContainer">
    <input
      type="button"
      value="Facil"
      (click)="onChangeOption('difficulty', 'facil')"
      [ngClass]="{ activeInput: difficulty === 'facil' }"
    />
    <input
      type="button"
      value="Media"
      (click)="onChangeOption('difficulty', 'medio')"
      [ngClass]="{ activeInput: difficulty === 'medio' }"
    />
    <input
      type="button"
      value="Dificil"
      (click)="onChangeOption('difficulty', 'dificil')"
      [ngClass]="{ activeInput: difficulty === 'dificil' }"
    />
  </div>

  <h2 class="subtitle">Precio</h2>
  <div class="tagContainer">
    <input
      type="button"
      value="$"
      (click)="onChangeOption('price', '$')"
      [ngClass]="{ activeInput: price === '$' }"
    />
    <input
      type="button"
      value="$$-$$$"
      (click)="onChangeOption('price', '$$-$$$')"
      [ngClass]="{ activeInput: price === '$$-$$$' }"
    />
    <input
      type="button"
      value="$$$$"
      (click)="onChangeOption('price', '$$$$')"
      [ngClass]="{ activeInput: price === '$$$$' }"
    />
  </div>
  <button
    type="submit"
    [disabled]="formExtra.invalid"
    class="nextStep"
  >
    Siguiente Paso
  </button>
</form>
