@import "../../../../../../../styles.scss";

.descriptionStep {
  font-size: $font-text;
  margin: 2.2rem 1.6rem 3.2rem;
}
.subtitle {
  display: block;
  font-size: $font-subtitle;
  margin-bottom: 1.2rem;
  font-weight: 600;
}
.form {
  margin: 0 1.6rem 2.4rem 1.6rem;
}
.timeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.6rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;
}
.duration {
  font-size: 1.4rem;
  text-align: start;
  width: 100%;
  margin-bottom: 2rem;
}
.dotsTime {
  font-size: 3rem;
  font-weight: 600;
}
.clockContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.clockContainer div {
  display: flex;
  flex-direction: column;
}
.clockContainer input {
  height: 4.6rem;
  width: 6rem;
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  border-radius: $border-radius;
  text-align: center;
  font-size: 3rem;
}
.clockContainer input:focus {
  outline: none;
  border-color: $main-color;
  background-color: white;
}
.clockContainer label {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.tagContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.6rem;
}
.tagContainer input {
  border: none;
  background: rgba(162, 162, 160, 0.5);
  padding: 0.4rem 1rem;
  border-radius: $border-radius;
  font-size: 1.6rem;
  width: 8rem;
}
.tagContainer .activeInput {
  background: $main-color;
  color: white;
}
.ingredientInfoContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
}
.ingredientInfoContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
}
.ingredientInfoContainer input,
.ingredientInfoContainer select {
  padding: 0.4rem 1rem;
  height: 4rem;
  margin-top: 1.2rem;
  width: 100%;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.ingredientLabel {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.ingredienContainer {
  display: flex;
  gap: 0.8rem;
}
.ingredienContainer input[type="text"] {
  width: 100%;
  height: 4rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;
  border: none;
  font-size: 1.4rem;
  padding: 1rem;
}
.ingredienContainer input[type="button"] {
  width: 5rem;
  height: 4rem;
  border-radius: $border-radius;
  border: none;
  background-color: $button-background-color;
  font-size: 2rem;
  color: white;
}
.nextStep{
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    border-radius: $border-radius;
    font-size: 1.4rem;
    background-color: $button-background-color;
    color: white;
    border: none;
}
.nextStep:disabled, .ingredienContainer input[type="button"]:disabled{
    background-color:#e14d619c;
}
.ingredientListTitle{
    margin-top: 1.4rem;
}
.ingredientList{
    margin: 0 1.6rem;
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingredientList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}
.ingredient::before {
    content: "\2022";
    color: $main-color;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
.deleteIngredient{
    font-size: 1.8rem;
}
.deleteIngredient:hover{
    cursor: pointer;
    color: $main-color;
}