@import "../../../../../styles.scss";

.container{
    margin: $margin; 
}
.score{
    width: 90%;
    font-size: 1.6rem;
}
.rating{
    font-size: 2rem;
}
.feedbackTitle{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.feedbackInfo{
    font-size: 1.6rem;
    text-align: center;
}