<app-hero [imagePath]="recipe?.imagePath" [name]="recipe.name"></app-hero>
<div class="container">
  <app-title
    [likes]="recipe.likes"
    [score]="recipe.score"
    [name]="recipe.name"
  ></app-title>
  <app-info-card
    [user]="recipe.user"
    [description]="recipe.description"
    [time]="recipe.time"
    [difficulty]="recipe.difficulty"
    [price]="recipe.price"
  ></app-info-card>
  <app-ingredients [ingredients]="recipe.ingredients"></app-ingredients>
  <app-step
    [step]="step"
    *ngFor="let step of recipe.steps; index as i"
    [stepsLength]="recipe.steps.length"
    [stepsIndex]="i + 1"
  ></app-step>
</div>
