<app-hero
  [imagePath]="recipe.imagePath"
  [name]="recipe.name"
  [recipeId]="recipe.recipeId"
></app-hero>
<div class="container">
  <app-title
    [score]="recipe.recipeScore"
    [name]="recipe.name"
    [id]="recipe.recipeId"
  ></app-title>
  <app-info-card
    [userId]="recipe.userId"
    [userName]="recipe.userName"
    [userPhoto]="recipe.profileImagePath"
    [description]="recipe.description"
    [time]="recipe.time"
    [difficulty]="recipe.dificulty"
    [price]="recipe.price"
  ></app-info-card>
  <app-ingredients [ingredients]="recipe.recipeCompleteIngredients"></app-ingredients>
  <app-tools [tools]="recipe.recipeCompleteTools"></app-tools>
  <app-step
    [step]="recipe.steps"
    *ngFor="let step of recipe.steps; index as i"
    [stepsLength]="recipe.steps.length"
    [stepsIndex]="i + 1"
  ></app-step>
  <app-tags [tags]="recipe.tags"></app-tags>
  <app-magic-recipes [magicRecipes]="recipe.recomendations"></app-magic-recipes>
  <app-comments-section
    [comments]="recipe.comments"
    [recipeId]="recipe.recipeId"
  ></app-comments-section>

  <app-modal [show]="showFeedback" *ngIf="viewedRecipes.showModal">
    <h3 class="feedbackTitle">Cuéntanos tú experiencia</h3>
    <p class="feedbackInfo">Tu opinión es muy importante para ayudarnos a ofrecer un mejor servicio</p>
    <app-stars
      class="score"
      (showModal)="showFeedback = $event"
      (rateChange)="rateChange($event)"
      [type]="'feedback'"
    ></app-stars>
  </app-modal>
</div>
