<div class="container">
  <a aria-label="visitar el perfil del cocinero" class="user-container" routerLink="/profile/{{userId}}">
    <img
      tabindex="0"
      class="user-photo"
      *ngIf="userPhoto"
      [src]="userPhoto"
      alt="Foto del cocinero de la receta"
    />
    <span *ngIf="!userPhoto"> {{userName[0]}}</span>
    <p tabindex="0" aria-label="nombre del cocinero">{{userName}}</p>
  </a>
  <div tabindex="0" aria-label="descripción de receta">
    <p tabindex="0" class="description">
      {{ description }}
    </p>
  </div>
  <div class="info-container">
      <p tabindex="0" aria-label="tiempo de preparación">
        Tiempo: <span tabindex="0">{{ time }} min</span>
      </p>
      <p tabindex="0" aria-label="Dificultad">
        Dificultad: <span tabindex="0">{{ difficulty }}</span>
      </p>
    <p tabindex="0" aria-label="presupuesto requerido">
      Precio: <span tabindex="0">{{ price }}</span>
    </p>
  </div>
</div>
