@import '../../../../styles.scss';

.formAuth {
  @include flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 360px;
  font-size: $font-text;
}

.contImg{
  @include flex;
  width: 40%;
  img{
    width: 100%;
  }
}

.inputAuth {
  @include flex;
  flex-direction: column;
  align-items: flex-start !important;
  margin-bottom: 1rem;
  width: 100%;

  input {
    width: 100%;
    height: 40px;
    border-radius: $border-radius;
    border: 1px solid $line-color;
    margin: 0.5rem;
    padding: 0.5rem;
    &:focus {
      outline: none;
      border: 1px solid $main-color;
    }
  }
}

.validator{
  color: $secundary-color;
}

.buttonAuth {
  border: 1px solid $secundary-color;
  background-color: $button-background-color;
  border-radius: $border-radius;
  color: $button-text-color;
  font-size: $font-text;
  font-weight: bolder;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
  &:hover {
    transform: scale(1.05)
  }
}

.lines{
  @include flex();
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  hr{
    width: 45%;
    border: 0.5px solid $line-color;
  }
}

.buttonGoogle{
  @include flex();
  margin: 1rem;
  color: black;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
  img{
    width: 30px;
  }
}

.linkAuth {
  margin: 1rem;
  a {
    text-decoration: none;
    color: $main-color;
  }

}
