@import "../../../../../styles.scss";

.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.line1 {
  background-color: $vertical-line-color;
  border: none;
  height: 0.18rem;
}

.statistics-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.4rem 0;
  
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

p {
  color: $secundary-text-color;
  font-size:1.6rem;
}

.statistic-counter {
  color: black;
  font-weight: bold;
}
.statistic-middle{
  position: relative;
}
.statistic-middle:after{
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 0.18rem;
  height: 100%;
  background-color: #c4c4c4a1;
}
.statistic-middle:before{
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 0.18rem;
  height: 100%;
  background-color: #c4c4c4a1;
}

.line2 {
  background-color: $line-color;
  border: none;
  height: 3rem;
  width: 0.18rem;;
  margin: 3rem;
}


