@import "../../../../../styles.scss";

.statistic-container {
  display: flex;
  justify-content: center;
}

.line1 {
  background-color: $vertical-line-color;
  border: none;
  height: 0.4rem;
}

.statistics-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: $secundary-text-color;
  font-size: large;
}

.statistic-counter {
  color: black;
  font-weight: bold;
}

.line2 {
  background-color: $line-color;
  border: none;
  height: 3rem;
  width: 0.3rem;
  margin: 3rem;
}

@media (max-width: 368px) {
  .statistics-container {
    max-width: 368px;
    min-width: 368px;
  }

  .line2 {
    margin: 1.8rem;
  }
}
