@import "../../../../../styles.scss";

.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.line1 {
  background-color: $vertical-line-color;
  border: none;
  height: 0.4rem;
}

.statistics-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: $secundary-text-color;
  font-size:large;
}

.statistic-counter {
  color: black;
  font-weight: bold;
}

.line2 {
  background-color: $line-color;
  border: none;
  height: 3rem;
  width: 0.3rem;
  margin: 3rem;
}


