<div class="statistics-container">
    <hr class="line1"/>
    <div class="statistics-info">
            <div class="statistic">
                <p class="statistic-counter">000</p>
                <p>Recetas</p>
            </div>
        <hr class="line2"/>
        <div class="statistic">
            <p class="statistic-counter">000</p>
            <p>Calificación</p>
        </div>
        <hr class="line2"/>
        <div class="statistic">
            <p class="statistic-counter">000</p>
            <p>Guardados</p>
        </div>
    </div>
    <hr class="line1"/>
</div>
