<div>
  <app-slider-hero></app-slider-hero>
</div>
<h2 class="title">¿Qué quieres cocinar hoy?</h2>
<div class="searcher-container">
    <app-searcher></app-searcher>
    <app-create-recipe-button></app-create-recipe-button>
</div>
<section class="recipes">
    <app-slider category="almuerzo"></app-slider>
    <app-slider category="saludable"></app-slider>
    <app-slider category="fitness"></app-slider>
    <app-slider category="chatarra"></app-slider>
</section>

<app-welcome *ngIf="showWelcome"></app-welcome>
