<div>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="recipe">Recipe</a>
    </li>
    <li>
      <a routerLink="profile">Profile</a>
    </li>
    <li>
      <a routerLink="new-recipe/basics">New Recipe Basics</a>
    </li>
    <li>
      <a routerLink="new-recipe/extra">New Recipe Extra</a>
    </li>
    <li>
      <a routerLink="new-recipe/steps">New Recipe Steps</a>
    </li>
    <!-- <li>
      <a routerLink="">Login</a>
    </li>
    <li>
      <a routerLink="">Register</a>
    </li> -->
  </ul>
</div>
