<nav>
  <a routerLink="/" class="logo">
    Sabores Ancestrales
    <!-- <img src="" alt="Sabores Ancestrales"> -->
  </a>
  <div role="navigation" class="primary-navigation">
    <span>
      <div class="profile dropdownImg">
        <img [src]="userImg" alt="Imagen del usuario" />
      </div>
      <ng-container class="dropdown" *ngIf="isLogged === false; else logOutTemplate">
        <ul>
          <li [routerLink]="['/login']">Iniciar sesión</li>
          <li [routerLink]="['/register']">Registrarse</li>
        </ul>
      </ng-container>
      <ng-template class="dropdown" #logOutTemplate>
        <ul>
          <li [routerLink]="['/profile']">Perfil</li>
          <li [routerLink]="['/']">Configuración</li>
          <li [routerLink]="['/login']" (click)="onLogout()">Cerrar sesión</li>
        </ul>
      </ng-template>
    </span>
  </div>
</nav>
