<nav role="menu">
  <a tabindex="0" role="link" aria-label="Volver al Home" routerLink="/" class="logo" >
    Sabores Ancestrales
    <!-- <img src="" alt="Sabores Ancestrales"> -->
  </a>
  <div role="navigation" class="primary-navigation">
    <span>

      <div class="profile dropdownImg"  *ngIf="(user$ | async)">
        <img [src]="userImg" alt="Imagen del usuario" />
      </div>
      <ng-container *ngIf="(user$ | async) === false; else logOutTemplate">
          <a tabindex="0" role="link" aria-label="Ingresar con una cuenta" [routerLink]="['/register']" class="sign">Ingresar</a>
      </ng-container>
      <ng-template tabindex="0" role="menubar" aria-label="menubar" class="dropdown" #logOutTemplate>
        <ul>
          <li tabindex="0" role="link" aria-label="Perfil" [routerLink]="['/profile/{{user.id}}']">Perfil</li>
          <li tabindex="0" role="link" aria-label="Configuración" [routerLink]="['/']">Configuración</li>
          <li tabindex="0" role="link" aria-label="Cerrar sesión" [routerLink]="['/login']" (click)="onLogout()">Cerrar sesión</li>
        </ul>
      </ng-template>
    </span>
  </div>
</nav>
