@import "../../../styles.scss";

nav {
  height: 4.8rem;
  margin: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  line-height: 2.6rem;
  width: 9.8rem;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-radius: $border-radius;
  color: $button-text-color;
  background-color: $button-background-color;
}
.logo {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
.profile img {
  height: 3.2rem;
  width: 3.2rem;
  object-fit: cover;
  border-radius: $border-radius;
}
