<div class="container">
  <h2>Ingredientes</h2>
  <div
    class="ingredients-container"
    *ngFor="let ingredient of ingredients; index as i"
  >
    <div class="ingredient-container" [class.checked]="ingredient.checked">
      <input type="checkbox" (click)="toogleChecked(i)" />
      <label *ngIf="ingredient.unit">
        {{ ingredient.quantity }} {{ ingredient?.unit }} de
        {{ ingredient.name }}
      </label>
      <label *ngIf="!ingredient.unit">
        {{ ingredient.quantity }} {{ ingredient.name }}
      </label>
    </div>
  </div>
</div>
