<div class="container">
  <h2>Ingredientes para toda la receta</h2>
  <div
    class="ingredients-container"
    *ngFor="let ingredient of ingredients; index as i"
  >
    <div class="ingredient-container" [class.checked]="ingredient.checked">
      <input type="checkbox" (click)="toogleChecked(i)" />
      <label *ngIf="ingredient.measureName">
        {{ ingredient.quantity }} {{ ingredient?.measureName }} de
        {{ ingredient.ingredientName }}
      </label>
      <label *ngIf="!ingredient.measureName">
        {{ ingredient.quantity }} {{ ingredient.quantity > 1 ? ingredient.ingredientName + 's' : ingredient.ingredientName }}
      </label>
    </div>
  </div>
</div>
