@import "../../../../../styles.scss";

.container {
  margin: 1.2rem 0 0;
}
.container h2 {
  margin-bottom: 1.4rem;
  font-size: $font-subtitle;
}
.ingredient-container {

  font-size: $font-text;
  &.checked {
    color: $secundary-text-color;
    text-decoration: line-through;
  }
}

.ingredient-container input {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.8rem;
  border-radius: $border-radius;
  accent-color: $main-color;
}
