<section tabindex="0" aria-label=" lista de recetas creadas" role="list" class="container">
    <div tabindex="0" aria-label="receta" *ngFor="let recipe of recipes">
      <div class="item">
        <a tabindex="0" aria-label="Foto de receta" role="link" class="image-container" [routerLink]="'/recipe/' + recipe.id">
          <img [src]="recipe.imagePath" alt="Foto de una receta" />
        </a>
        <a tabindex="0" class="recipe-name" [routerLink]="'/recipe/' + recipe.id" >{{recipe.name}}</a>
        <div tabindex="0" aria-label="Aquí estan tus opciones de administrador para con esta receta" class="dropdown">
          <mat-icon>more_vert</mat-icon>
  
          <div class="dropdown-content">
            <a tabindex="0" role="link" [routerLink]="'/recipe/' + recipe.id">Ver receta</a>
            <a tabindex="0" role="link" routerLink="/admin/report" [queryParams]="{ name: recipe.name, id: recipe.id, type: 'recipe' }" >Reportes</a>
            <p tabindex="0" aria-label="Eliminar esta receta" role="button"  (click)="deleteRecipe(recipe.id)">Eliminar</p>
          </div>
        </div>
      </div>
    </div>
    <p tabindex="0" aria-label="Cargar más recetas" class="load-more" (click)="loadMore()">Cargar más</p>
  </section>
  
