<div class="wrapper">
  <section tabindex="0" aria-label=" lista de recetas creadas" role="list" class="container">
      <div tabindex="0" aria-label="receta" *ngFor="let recipe of recipes">
        <div class="item">
          <a  tabindex="0" aria-label="Foto de receta" role="link" class="image-container" [routerLink]="'/recipe/' + recipe.recipeId">
            <img *ngIf="recipe.recipePhoto" [src]="recipe.recipePhoto" alt="Foto de una receta" />
            <span *ngIf="!recipe.recipePhoto">{{ recipe.recipeName[0] }}</span>
          </a>
          <a class="recipe-name" [routerLink]="'/recipe/' + recipe.recipeId" >{{recipe.recipeName}}</a>
          <div tabindex="0" aria-label="Aquí están tus opciones de administrador para con esta receta" class="dropdown">
            <mat-icon>more_vert</mat-icon>
    
            <div class="dropdown-content">
              <a  tabindex="0" role="link" [routerLink]="'/recipe/' + recipe.recipeId">Ver receta</a>
              <a  tabindex="0" role="link" routerLink="/admin/report" [queryParams]="{ name: recipe.recipeName, id: recipe.recipeId, type: 'recipe' }" >Reportes</a>
              <p tabindex="0" aria-label="Eliminar esta receta" role="button" (click)="deleteRecipe(recipe.recipeId)">Eliminar</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
  
