<div class="container">
  <h2 tabindex="0" class="step-title">Paso {{ stepsIndex }}/{{ stepsLength }}</h2>
  <img tabindex="0"
    aria-label="imagen del paso"
    class="step-img"
    [src]="step.imagePath"
    alt="Imagen del paso de la receta"
  />
  <div tabindex="0" aria-label="información del paso" class="info-container">
    <p tabindex="0" class="step-description">{{ step.description }}</p>
    <div class="ingredients-list">
      <b tabindex="0">Ingredientes:</b>
      <ul>
      <li tabindex="0" *ngFor="let ingredient of step.ingredients; index as i">
        <span *ngIf="ingredient.unit">
          {{ ingredient.quantity }} {{ ingredient?.unit }} de
          {{ ingredient.name }}
        </span>
        <span *ngIf="!ingredient.unit">
          {{ ingredient.quantity }} {{ ingredient.quantity > 1 ? ingredient.name + 's' : ingredient.name }}
        </span>
      </li>
    </ul>
    </div>
  </div>
</div>
