<div class="container">
  <h2 class="step-title">Paso {{ stepsIndex }}/{{ stepsLength }}</h2>
  <img
    class="step-img"
    [src]="step.imagePath"
    alt="Imagen del paso de la receta"
  />
  <div class="info-container">
    <p class="step-description">{{ step.description }}</p>
    <div class="ingredients-list">
      <b>Ingredientes:</b>
      <ul>
      <li *ngFor="let ingredient of step.ingredients; index as i">
        <span *ngIf="ingredient.unit">
          {{ ingredient.quantity }} {{ ingredient?.unit }} de
          {{ ingredient.name }}
        </span>
        <span *ngIf="!ingredient.unit">
          {{ ingredient.quantity }} {{ ingredient.quantity > 1 ? ingredient.name + 's' : ingredient.name }}
        </span>
      </li>
    </ul>
    </div>
    <div class="ingredients-list">
      <b>Utensilios:</b>
      <ul>
      <li *ngFor="let tool of step.tools; index as i">
        <span>
          {{ tool }}
        </span>
      </li>
    </ul>
    </div>
  </div>
</div>
