<div class="wrapper">
  <section *ngFor="let message of messages" class="container">
    <div class="commentary">
      <div class="head">
        <div class="user">
          <img
            src="{{ message.photoUser }}"
            alt="Imagen de perfil de un usuario"
          />
          <span>{{ message.userName }}</span>
        </div>
        <div class="date">
          <span>{{ (message.createdAt | date: 'dd/MM/yyyy') }}</span> /
        </div>
      </div>
      <div class="content">
        <p>{{ message.appFeedbackComment }}</p>
        <app-score class="score" [score]="message.stars"></app-score>
      </div>
    </div>
  </section>
</div>
