<div class="wrapper">
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch" (change)="handleChange($event)" value="user">
        <label for="tab-1" class="tab-label">Recetas</label>        
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" (change)="handleChange($event)" value="saved">
        <label for="tab-2" class="tab-label">Guardados</label>
      </div>
    </div>
    <div class="tab-content">
      <div class="card-container" *ngFor="let card of selectRecipes === 'user' ? recipes?.recipesUser : recipes?.recipesFav">
        <app-card-recipe [recipe]="card" [cardMargin]="'0'"></app-card-recipe>
      </div>
    </div>
  </div>
