@import "../../../../../styles.scss";
.wrapper {
  margin: 1rem auto 2rem;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.tab-switch {
  display: none;
}
.tab-label {
  display: block;
  font-size: $font-text;
  padding: 1rem;
  color: $secundary-text-color;
  cursor: pointer;
  transition: all 0.25s;
}
.tab-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.6rem;
  gap: 1.3rem;
  justify-content: center;
}
.no-recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $secundary-text-color;
  text-align: center;
  margin: 0 1.6rem;
  img {
    width: 100%;
    max-width: 300px;
    margin: 4rem 0;
  }
  h2 {
    font-size: $font-title;
    margin-bottom: .4rem;
  }
  p {
    font-size: $font-text;
  }
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: $main-color;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
  text-decoration: underline;
}
.card-container {
  width: 47%;
  max-width: 184px;
}
@media (min-width: 700px) {
  .tab-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container {
    width: initial;
    max-width: initial;
  }
}
