<div tabindex="0" aria-label="Ver recetas" role="tabpanel" class="wrapper">
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
        <label tabindex="0" aria-label="Recetas creadas" for="tab-1" class="tab-label">Recetas</label>        
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
        <label tabindex="0" aria-label="Recetas guardadas" for="tab-2" class="tab-label">Guardados</label>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
        <label tabindex="0" aria-label="Recetas me gusta" for="tab-3" class="tab-label">Me gusta</label>
      </div>
    </div>
    <div tabindex="0" aria-label="contenedor de recetas seleccionadas" class="tab-content">
      <div class="card-container" *ngFor="let card of recipes">
        <app-card-recipe [recipe]="card" [cardMargin]="'0'"></app-card-recipe>
      </div>
    </div>
  </div>
