/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

$secundary-text-color: rgb(162, 162, 160);
$text-color: #000000;
$line-color:#A2A2A0;
$vertical-line-color:#C4C4C44D;
$main-color: #E14D61;
$background-color: #FFFFFF;
$font-title: 2.4rem;
$font-subtitle: 2.0rem;
$font-text: 1.6rem;
$box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
$border-radius: 5px;
$margin: 0 1.6rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
html{
    font-size: 62.5%;
}

@mixin title {
    font-size: $fontTitle;
    font-weight: 600;
}