<div tabindex="0" role="slider" aria-label="recetas recomendadas" class="slider">
  <div [routerLink]="['/recipe/' + recipe.id]" tabindex="0" aria-label="receta" role="link" class="container-card" *ngFor="let recipe of recipes">
    <div class="containerImg">
      <img src="{{ recipe.imagePath }}" alt="" />
    </div>
    <div class="detailRecipe">
      <div tabindex="0" aria-label="nombre de la receta">
        <p tabindex="0">{{ recipe.name }}</p>
      </div>
      <div>
        <div tabindex="0" aria-label="tiempo de preparación"><span><mat-icon>query_builder</mat-icon></span><div tabindex="0">{{recipe.time}} minutos</div></div> |
      <div tabindex="0" aria-label="calificación"><span><mat-icon>star</mat-icon></span><div tabindex="0">{{recipe.score}}</div></div>
      </div>
    </div>
  </div>
</div>
