<div tabindex="0" aria-label="Aquí puedes ver la calificación general de Sabores ancestrales" class="container">
  <p tabindex="0" class="title">Calificación</p>
  <h1 tabindex="0" class="title-score">{{ score.qualification }}</h1>
  <div>
    <app-score class="score" [score]="score.qualification"></app-score>
  </div>
  <p class="score-quantity">{{ score.quantity }} calificaciones</p>
  <div class="score-bars">
    <div class="progress-container">
      <p tabindex="0" aria-label="Usuarios que nos calificaron con 5 estrellas">5★</p>
      <progress [value]="score.fiveStar" [max]="score.quantity"></progress>
      <p tabindex="0">{{ score.fiveStar }}</p>
    </div>
    <div class="progress-container">
      <p tabindex="0" aria-label="Usuarios que nos calificaron con 4 estrellas">4★</p>
      <progress [value]="score.fourStar" [max]="score.quantity"></progress>
      <p tabindex="0">{{ score.fourStar }}</p>
    </div>
    <div class="progress-container">
      <p tabindex="0" aria-label="Usuarios que nos calificaron con 3 estrellas">3★</p>
      <progress [value]="score.threeStar" [max]="score.quantity"></progress>
      <p tabindex="0">{{ score.threeStar }}</p>
    </div>
    <div class="progress-container">
      <p tabindex="0" aria-label="Usuarios que nos calificaron con 2 estrellas">2★</p>
      <progress [value]="score.twoStar" [max]="score.quantity"></progress>
      <p tabindex="0">{{ score.twoStar }}</p>
    </div>
    <div class="progress-container">
      <p tabindex="0" aria-label="Usuarios que nos calificaron con 1 estrellas">1★</p>
      <progress [value]="score.oneStar" [max]="score.quantity"></progress>
      <p tabindex="0">{{ score.oneStar }}</p>
    </div>
  </div>
</div>
