<div class="container">
    <p>Calificación</p>
    <h1>{{score.qualification}}</h1>
    <div>
        <app-score class="score" [score]="score.qualification"></app-score>
    </div>
    <p>{{score.quantity}} calificaciones</p>
    <div>
        <p>5★</p>
        <progress [max]="score.quantity" [value]="score['five-star']"></progress>
        <p>{{score['five-star']}}</p>
    </div>
    <div>
        <p>4★</p>
        <progress [max]="score.quantity" [value]="score['four-star']"></progress>
        <p>{{score['four-star']}}</p>
    </div>
    <div>
        <p>3★</p>
        <progress [max]="score.quantity" [value]="score['three-star']"></progress>
        <p>{{score['three-star']}}</p>
    </div>
    <div>
        <p>2★</p>
        <progress [max]="score.quantity" [value]="score['two-star']"></progress>
        <p>{{score['two-star']}}</p>
    </div>
    <div>
        <p>1★</p>
        <progress [max]="score.quantity" [value]="score['one-star']"></progress>
        <p>{{score['one-star']}}</p>
    </div>
</div>
