<div tabindex="0" aria-label="Aquí puedes ver la calificación general de Sabores ancestrales" class="container">
    <p tabindex="0" class="title">Calificación</p>
    <h1 tabindex="0" class="title-score">{{score.qualification}}</h1>
    <div>
        <app-score class="score" [score]="score.qualification"></app-score>
    </div>
    <p class="score-quantity">{{score.quantity}} calificaciones</p>
    <div class="score-bars">
        <div class="progress-container">
            <p tabindex="0" aria-label="Usuarios que nos calificaron con 5 estrellas">5★</p>
            <progress [max]="score.quantity" [value]="score['five-star']"></progress>
            <p tabindex="0">{{score['five-star']}}</p>
        </div>
        <div class="progress-container">
            <p tabindex="0" aria-label="Usuarios que nos calificaron con 4 estrellas">4★</p>
            <progress [max]="score.quantity" [value]="score['four-star']"></progress>
            <p tabindex="0">{{score['four-star']}}</p>
        </div>
        <div class="progress-container">
            <p tabindex="0" aria-label="Usuarios que nos calificaron con 3 estrellas">3★</p>
            <progress [max]="score.quantity" [value]="score['three-star']"></progress>
            <p tabindex="0">{{score['three-star']}}</p>
        </div>
        <div class="progress-container">
            <p tabindex="0" aria-label="Usuarios que nos calificaron con 2 estrellas">2★</p>
            <progress [max]="score.quantity" [value]="score['two-star']"></progress>
            <p tabindex="0">{{score['two-star']}}</p>
        </div>
        <div class="progress-container">
            <p tabindex="0" aria-label="Usuarios que nos calificaron con 1 estrella">1★</p>
            <progress [max]="score.quantity" [value]="score['one-star']"></progress>
            <p tabindex="0">{{score['one-star']}}</p>
        </div>
    </div>
</div>
