@import "../../../../../styles.scss";

.user-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin: 1.5rem 0 1.5rem 0;
}
h4 {
    margin: 0 0 1.5rem 0;
}

.user-Photo {
    justify-content: center;
    max-width: 25rem;
}

.user-Photo-Container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 17.5rem;
    width: 17.5rem;
    background-color: #eeeeee;;
    overflow: hidden;
    object-fit: cover;
    border-radius: $border-radius;
    h1{
        font-size: 9rem;
        color: #949393;
    }
}

.userDescription {
    align-items: center;
    justify-content: center;
    color: $secundary-text-color;
}

.user-Summary-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1.6rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.report {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .6rem;
    right: .7rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: $button-text-color;
    border-radius: 50%;
    background: linear-gradient(
      126.91deg,
      #101010 -22.93%,
      rgba(34, 34, 34, 0) 189.23%
    );
    cursor: pointer;
  }
  