<div tabindex="0" aria-label="Descripción de usuario" class="user-description-container">
  <div class="user-Photo-Container">
    <img tabindex="0" aria-label="foto de usuario" class="user-Photo" src="{{ user?.photo }}" alt="userPhoto" *ngIf="user.photo"/>
    <h1 *ngIf="!user.photo">{{user.name[0]}}</h1>
    <div (click)="show = true" class="report">
      <p>!</p>
    </div>
    <app-report [showReport]="show" [reportType]="'user'" [reportId]="user?.id">

    </app-report>
  </div>
  <div tabindex="0" aria-label="nombre de usuario" class="user-Name-Container">
    <h1 tabindex="0">{{ user?.name }}</h1>
  </div>
  <div class="user-Summary-Container">
    <p class="userDescription">{{ user?.description }}</p>
  </div>
</div>
