@import "../../../../../styles.scss";

.user-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8.5rem;
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin: 1.5rem 0 1.5rem 0;
}
h4 {
    margin: 0 0 1.5rem 0;
}

.user-Photo {
    justify-content: center;
    max-width: 25rem;
}

.user-Photo-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 200px;
    background-color: black;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}

.userDescription {
    align-items: center;
    justify-content: center;
    color: $secundary-text-color;
}

.user-Summary-Container {
    align-items: center;
    justify-content: center;
}

.user-Summary-Container h4 {
    font-size: 1.5rem;
}