<div class="container">
  <a class="item item-header" routerLink="/">
    <div class="background-image user-image"></div>
    <h1>Usuarios</h1>
    <p>Información detallada</p>
  </a>
  <a class="item item-header" routerLink="/">
    <div class="background-image recipe-image"></div>
    <h1>Recetas</h1>
    <p>Información detallada</p>
  </a>
  <a class="item" routerLink="feedback">
    <div class="background-image feedback-image"></div>
    <h1>Feedback</h1>
    <p>Lo que dicen sobre nosotros</p>
  </a>
  <a class="item" routerLink="/">
    <div class="background-image stats-image"></div>
    <h1>Estadisticas</h1>
    <p>Proximamente...</p>
  </a>
</div>
