@import "../../../../../../../styles.scss";

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.6rem 0;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  margin-bottom: 2rem;
}
.item-header {
  margin-top: 4rem;
}
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.3);
  height: 100%;
  width: 100%;
}
.item {
  position: relative;
  text-decoration: none;
  height: 43vw;
  width: 43vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: $border-radius;
  color: white;
  overflow: hidden;
}
.item h1,
.item p {
  z-index: 1;
  margin-left: 0.4rem;
}
.item p {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.user-image {
  background-image: url("../../../../../../../assets/images/admin-users.webp");
}
.recipe-image {
  background-image: url("../../../../../../../assets/images/admin-recipes.webp");
}
.feedback-image {
  background-image: url("../../../../../../../assets/images/admin-feedback.webp");
}
.stats-image {
  background-image: url("../../../../../../../assets/images/admin-stats.webp");
}
@media (min-width: 530px) {
  .container {
    max-width: 800px;
    gap: 1.6rem;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 2rem;
    border-radius: 2rem;
  }
  .item {
    max-width: 27rem;
    max-height: 27rem;
  }
  .item h1 {
    font-size: 2.4rem;
  }
  .item p {
    font-size: 1.6rem;
  }
}
