<div class="container">
    <a class="item item-header" routerLink="/">
        <div class="background-image user-image"></div>
        <h1>Usuarios</h1>
        <p>Información detallada</p>
    </a>
    <a class="item item-header" routerLink="/">
        <div class="background-image recipe-image"></div>
        <h1>Usuarios</h1>
        <p>Información detallada</p>
    </a>
    <a class="item" routerLink="/">
        <div class="background-image feedback-image"></div>
        <h1>Usuarios</h1>
        <p>Información detallada</p>
    </a>
    <a class="item" routerLink="/">
        <div class="background-image stats-image"></div>
        <h1>Usuarios</h1>
        <p>Información detallada</p>
    </a>
</div>
