<fieldset class="rating">
  <input type="radio" id="star5" name="rating" value="5" [checked]="score == 5"/><label
    class="full"
    for="star5"
    title="Increíble - 5 stars"
    (click)="setScore(5.0)"
  ></label>
  <input type="radio" id="star4half" name="rating" value="4 and a half" [checked]="score == 4.5" /><label
    class="half"
    for="star4half"
    title="Delicioso - 4.5 stars"
    (click)="setScore(4.5)"
  ></label>
  <input type="radio" id="star4" name="rating" value="4" [checked]="score == 4" /><label
    class="full"
    for="star4"
    title="Delicioso - 4 stars"
    (click)="setScore(4.0)"
  ></label>
  <input type="radio" id="star3half" name="rating" value="3 and a half" [checked]="score == 3.5" /><label
    class="half"
    for="star3half"
    title="Me gusta - 3.5 stars"
    (click)="setScore(3.5)"
  ></label>
  <input type="radio" id="star3" name="rating" value="3" [checked]="score == 3" /><label
    class="full"
    for="star3"
    title="Meh - 3 stars"
    (click)="setScore(3.0)"
  ></label>
  <input type="radio" id="star2half" name="rating" value="2 and a half" [checked]="score == 2.5" /><label
    class="half"
    for="star2half"
    title="Puede Mejorar - 2.5 stars"
    (click)="setScore(2.5)"
  ></label>
  <input type="radio" id="star2" name="rating" value="2" [checked]="score == 2" /><label
    class="full"
    for="star2"
    title="Puede Mejorar - 2 stars"
    (click)="setScore(2.0)"
  ></label>
  <input type="radio" id="star1half" name="rating" value="1 and a half" [checked]="score == 1.5" /><label
    class="half"
    for="star1half"
    title="No muy delicioso - 1.5 stars"
    (click)="setScore(1.5)"
  ></label>
  <input type="radio" id="star1" name="rating" value="1" [checked]="score == 1"/><label
    class="full"
    for="star1"
    title="No me gusta - 1 star"
    (click)="setScore(1.0)"
  ></label>
  <input type="radio" id="starhalf" name="rating" value="half" [checked]="score == 0.5" /><label
    class="half"
    for="starhalf"
    title="No me gusta - 0.5 stars"
    (click)="setScore(0.5)"
  ></label>
</fieldset>
{{ score }}
